doctype html
html(lang='en')
 head
   title Loader Animation
h1 Cooking in progress..
#cooking
  - for (var i = 0; i < 5; i++)
    .bubble
  #area
    #sides
      #pan
      #handle
    #pancake
      #pastry
